.blogMain {
    margin-bottom: 40px;
}

h4 {
    text-transform: uppercase;
    font-family: "Playfair Display";
    font-size: 32px;
    letter-spacing: 1px;
    padding-top: 15px;
    margin-bottom: 0;
}

.mainBlogContent {
    display: flex;
    flex-direction: row-reverse;
}

.blogImgContainer{
    top: 8rem;
}

.blogImgContainer img {
    width: 90%;
    margin-left: 10%;
    box-shadow: -10px 30px 0px 4px $primary;
}

.greatLocations {
    box-shadow: -5px 5px 0px 6px $primary;
    margin-left: 10%;
    padding-left: 45px;
    padding-right: 100px;
    padding-bottom: 5px;
}

.rightSideContainer {
    width: 65%;
}

h5 {
    text-transform: uppercase;
}

.recentPosts ul {
    display: flex;
    flex-direction: column;
}

.recentPosts ul li {
    display: flex;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: none;
}

.leftSideContainer {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 10%;
}

.leftSideContainer img {
    width: 100%;
}

.leftSideContainer h5 {
    text-align: center;
    margin-top: 20px;
}

.leftSideContainer p {
    text-align: left;
    margin-left: 35px;
}

.boldText {
    font-weight: 700;
}

.commentContainer {
    width: 60%;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 5%;
    padding-right: 100px;
}

.topComment img {
    width: 10%;
}

.topComment p {
    margin-left: 15%;
}

.bottomComment p {
    margin-left: 15%;
}

.bottomComment img {
    width: 10%;
}

.formBlogContent {
    display: flex;
    flex-direction: column;
    padding: 70px 40px 40px;
    background-color: $solidWhite;
    width: 60%;
    margin-left: 40%;
}