body{
    background-color: $solidWhite;
}


.contact {
    display: flex;
    height: 50vh;
}

.inputContainer {
    display: flex;
}

#name {
    margin-right: 25px;
    border: none;
    border-bottom: 2px solid $secondary;
    width: 50%;
}

#email {
    border: none;
    border-bottom: 2px solid $secondary;
    width: 50%;
}

#message {
    border: 2px solid $secondary;
}