footer {
    background-color: $tertiary;
    color: $solidWhite;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 'Roboto';
    line-height: 32px;
    font-size: 20px;
}