main {
    background-color: $iceWhite;
}

.formContent{
    display: flex;
    flex-direction: column;
    box-shadow: -15px 16px 0px 5px #FDFA69;
    padding: 70px 40px 40px;
    background-color: $solidWhite;
}
.socialIconsInfo{
    width: 50%;
}

.contactInfo {
    margin-top: 15%;
    margin-right: 25px;
    margin-left: 25%;
}

.contactInfo p{
    margin-bottom: 0;
    margin-top: 0;
}

textarea {
    margin-top: 35px;
    margin-bottom: 35px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.socialIcons a {
    margin-left: 10px;
    margin-right: 10px;
}

h5 {
    font-family: 'Playfair Display';
    letter-spacing: 1.1px;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px;

}