

header{
    background-image: url(../assets/header-image.jpg);
    position: relative;
    background-size: cover;
    margin-bottom: 0;
    background-color: $solidWhite;
    height: 50vh;
    background-repeat: no-repeat;
   
}

ul {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

li {
    list-style: none;
    line-height: 29px;
    font-size: 20px;
    font-family: 'Playfair Display';
    font-weight: 700;
    text-transform: uppercase;
}

li a {
    padding-left: 10px;
    padding-right: 10px;
}


h1{
    position: absolute;
    left: 25%;
    top: 45%;
    z-index: 30;
    text-transform: uppercase;
}


.headerImgContainer {

    right: 0;
    top: 10rem;
    position: absolute;
    width: 30%;
    z-index: 10;
    box-shadow: 0 -15px 0px 1px $primary,
            0 15px 0px 1px $primary,
            -15px 0 0px 16px $primary;
}

.contactHeader{
    background-image: url(../assets/contact-header.jpg);
    position: relative;
    background-size: cover;
    margin-bottom: 0;
    background-color: $solidWhite;
    height: 50vh;
    background-repeat: no-repeat;
}

.blogHeader{
    background-image: url(../assets/blog-header.jpg);
        position: relative;
        background-size: cover;
        margin-bottom: 0;
        background-color: $solidWhite;
        height: 50vh;
        background-repeat: no-repeat;
}

h2 {
    position: absolute;
    left: 35%;
    top: 45%;
    z-index: 30;
    text-transform: uppercase;
}