// Breakpoints at 1000/700/500

@media (max-width: 1000px) {
    h1 {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        font-size: 5rem;
    }
    .siteNav ul {
        display: flex;
        flex-wrap: wrap;
        text-shadow: .3px .3px $solidWhite;
    }
    .socialIconsInfo {
        margin-right: 70px;
    }
    li a {
        font-size: 15px;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 3rem;
    }
    .skills, .gear {
        display: flex;
        flex-wrap: wrap;
    }
    .profile, .wrapper {
        flex-wrap: wrap;
    }
    .smallBox {
        width: 100%;
    }
    .gallery, .wrapper {
        flex-direction: column;
    }
    .galleryImgContainer {
        width: 100%;
    }
    h3, button {
        align-self: center;
    }
    .gearText, .skillsText {
        text-align: center;
        margin-left: 0;
    }
    .linksFlex div {
        width: 100%;
    }
    .profileText {
        width: 100%;
    }
    .profile img {
        width: 100%;
    }
    .profileText, h3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // CONTACT PAGE @Media
    h2 {
        font-size: 4rem;
    }

    .contact {
        flex-wrap: wrap;
        height: 105vh;
        .socialIconsInfo, .formContainer{
            width: 100%;
            margin-bottom: 100px;
        }
    }
    // Blog Page @Media
    .mainBlogContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .rightSideContainer {
        width: 100%;
    }
    .leftSideContainer {
        width: 100%;
    }
    .commentContainer{
        width: 100%;
        margin-left: 0;
    }
    .topComment img, .bottomComment img {
        width: 25%;
    }
    .formBlogContent {
        width: 100%;
        margin-left: 0;
    }

}

@media (max-width: 500px) {
    h1 {
        font-size: 2rem;
    }
    .headerImgContainer {
        position: relative;
        width: 50%;
        margin-bottom: 50px;
    }
    li a {
        font-size: 10px;
    }
    .about {
        margin-top: 100px;
    }
    .linksFlex div {
        width: 100%;
    }
    h2 {
        font-size: 2rem;
    }
}