
.about {
    background-color: $iceWhite;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-bottom: 250px;
    h3{
        text-align: center;
    }
    p{
        text-align: center;
    }

}

.aboutContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContent button {
    width: 13rem;
}


.info{
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: $solidWhite;
    gap: 3rem;

}


.info p {
    margin: 20px 0;
}

// .skills{
//     margin-bottom: 2;
// }

.skills,
.gear {
    display: flex;
    background: $solidWhite;
    gap: 10rem;
    padding-top: 30px;
}


.skillsText,
.gearText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // width: 30%;
    width: 100%;
    margin: 0 auto;
}

.gearText{
    align-items: flex-end;
    text-align: right;
    margin-left: 70px;
}

.leftSkillsImg{
    object-fit: cover;
    // width: 35%;
    width: 100%;
    
}

.leftSkillsImg img {
    box-shadow: 30px 30px $primary;
}


.rightGearImg{
    object-fit: cover;
    // width: 35%;
    width: 100%;
}

.rightGearImg img{
    box-shadow: -30px 30px $primary;
}

.links{
    display: flex;
    padding-top: 75px;
    padding-bottom: 50px;

}

.linksFlex {
    display: flex;
    flex-wrap: wrap;
    div{
        width: 50%;
    }
}



.links i {
    background-color: $secondary;
    border-radius: 50%;
    padding: 7px;
    height: 30px;
}

.topPicks {
    display: flex;
    gap: 1rem;
}

.blogAnchor {
    display: flex;
    gap: 1rem;
}

.communityAnchor {
    display: flex;
    gap: 1rem;
}

.getInTouchAnchor {
    display: flex;
    gap: 1rem;
}




.backgroundImg {
    background-image: url(../assets/banner.jpg);
    width: 100vw;
    height: 300px;
    background-repeat: no-repeat;
    background-image: cover;
    background-size: cover;
}

.profile {
    background-color: $iceWhite;
    padding-top: 90px;
    padding-bottom: 100px;
}

.profile img {
    box-shadow: 30px 30px $primary;
    width: 50%;
}

.profileText{
    width: 70%;
}

.profile .wrapper {
    display: flex;
}
.smallBox {
    width: 50%;
}

.gallery .wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 100px;
}

.galleryImgContainer{
    margin-left: 20px;
    margin-right: 20px;
    width: calc( (100% / 3) - 40px );
}