html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
}

h1 {
  font-size: 138px;
  font-family: "Playfair Display";
  text-shadow: 0.3px 0.3px #FAFAFA;
}

h2 {
  font-family: "Playfair Display";
  font-size: 92px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 0;
}

h3 {
  font-family: "Playfair Display";
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

button {
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #4CEEA7;
  padding: 10px 10px;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Playfair Display";
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 1px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

a {
  color: #2C2C2C;
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

header {
  background-image: url(../assets/header-image.jpg);
  position: relative;
  background-size: cover;
  margin-bottom: 0;
  background-color: #FAFAFA;
  height: 60vh;
  background-repeat: no-repeat;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

li {
  list-style: none;
  line-height: 29px;
  font-size: 20px;
  font-family: "Playfair Display";
  font-weight: 700;
  text-transform: uppercase;
}

li a {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  position: absolute;
  left: 25%;
  top: 45%;
  z-index: 30;
  text-transform: uppercase;
}

.headerImgContainer {
  right: 0;
  top: 10rem;
  position: absolute;
  width: 30%;
  z-index: 10;
  -webkit-box-shadow: 0 -15px 0px 1px #FDFA69, 0 15px 0px 1px #FDFA69, -15px 0 0px 16px #FDFA69;
          box-shadow: 0 -15px 0px 1px #FDFA69, 0 15px 0px 1px #FDFA69, -15px 0 0px 16px #FDFA69;
}

.contactHeader {
  background-image: url(../assets/contact-header.jpg);
  position: relative;
  background-size: cover;
  margin-bottom: 0;
  background-color: #FAFAFA;
  height: 60vh;
  background-repeat: no-repeat;
}

.formContainer {
  width: 60%;
  margin-top: -100px;
  z-index: 10;
  position: relative;
  margin-right: 5%;
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  position: relative;
  background-size: cover;
  margin-bottom: 0;
  background-color: #FAFAFA;
  height: 50vh;
  background-repeat: no-repeat;
}

h2 {
  position: absolute;
  left: 35%;
  top: 45%;
  z-index: 30;
  text-transform: uppercase;
}

.about {
  background-color: #EFFDF3;
  height: 33vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 250px;
  padding-bottom: 250px;
}
.about h3 {
  text-align: center;
}
.about p {
  text-align: center;
}

.aboutContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutContent button {
  width: 13rem;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #FAFAFA;
  gap: 3rem;
}

.info p {
  margin: 20px 0;
}

.skills,
.gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FAFAFA;
  gap: 10rem;
  padding-top: 30px;
}

.skillsText,
.gearText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 0 auto;
}

.gearText {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin-left: 70px;
}

.leftSkillsImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.leftSkillsImg img {
  -webkit-box-shadow: 30px 30px #FDFA69;
          box-shadow: 30px 30px #FDFA69;
}

.rightGearImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.rightGearImg img {
  -webkit-box-shadow: -30px 30px #FDFA69;
          box-shadow: -30px 30px #FDFA69;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
  padding-bottom: 50px;
}

.linksFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.linksFlex div {
  width: 50%;
}

.links i {
  background-color: #4CEEA7;
  border-radius: 50%;
  padding: 7px;
  height: 30px;
}

.topPicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.blogAnchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.communityAnchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.getInTouchAnchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.backgroundImg {
  background-image: url(../assets/banner.jpg);
  width: 100vw;
  height: 300px;
  background-repeat: no-repeat;
  background-image: cover;
  background-size: cover;
}

.profile {
  background-color: #EFFDF3;
  padding-top: 90px;
  padding-bottom: 100px;
}

.profile img {
  -webkit-box-shadow: 30px 30px #FDFA69;
          box-shadow: 30px 30px #FDFA69;
  width: 50%;
}

.profileText {
  width: 70%;
}

.profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.smallBox {
  width: 50%;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  padding-bottom: 100px;
}

.galleryImgContainer {
  margin-left: 20px;
  margin-right: 20px;
  width: calc(33.3333333333% - 40px);
}

footer {
  background-color: #2C2C2C;
  color: #FAFAFA;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: "Roboto";
  line-height: 32px;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.smallCopy {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  background-color: #EFFDF3;
}

.formContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: -15px 16px 0px 5px #FDFA69;
          box-shadow: -15px 16px 0px 5px #FDFA69;
  padding: 70px 40px 40px;
  background-color: #FAFAFA;
}

.socialIconsInfo {
  width: 50%;
}

.contactInfo {
  margin-top: 15%;
  margin-right: 25px;
  margin-left: 25%;
}

.contactInfo p {
  margin-bottom: 0;
  margin-top: 0;
}

textarea {
  margin-top: 35px;
  margin-bottom: 35px;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
}

.socialIcons a {
  margin-left: 10px;
  margin-right: 10px;
}

h5 {
  font-family: "Playfair Display";
  letter-spacing: 1.1px;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}

body {
  background-color: #FAFAFA;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#name {
  margin-right: 25px;
  border: none;
  border-bottom: 2px solid #4CEEA7;
  width: 50%;
}

#email {
  border: none;
  border-bottom: 2px solid #4CEEA7;
  width: 50%;
}

#message {
  border: 2px solid #4CEEA7;
}

.blogMain {
  margin-bottom: 40px;
}

h4 {
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-size: 32px;
  letter-spacing: 1px;
  padding-top: 15px;
  margin-bottom: 0;
}

.mainBlogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blogImgContainer {
  top: 8rem;
}

.blogImgContainer img {
  width: 90%;
  margin-left: 10%;
  -webkit-box-shadow: -10px 30px 0px 4px #FDFA69;
          box-shadow: -10px 30px 0px 4px #FDFA69;
}

.greatLocations {
  -webkit-box-shadow: -5px 5px 0px 6px #FDFA69;
          box-shadow: -5px 5px 0px 6px #FDFA69;
  margin-left: 10%;
  padding-left: 45px;
  padding-right: 100px;
  padding-bottom: 5px;
}

.rightSideContainer {
  width: 65%;
}

h5 {
  text-transform: uppercase;
}

.recentPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recentPosts ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: none;
}

.leftSideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-top: 10%;
}

.leftSideContainer img {
  width: 100%;
}

.leftSideContainer h5 {
  text-align: center;
  margin-top: 20px;
}

.leftSideContainer p {
  text-align: left;
  margin-left: 35px;
}

.boldText {
  font-weight: 700;
}

.commentContainer {
  width: 60%;
  margin-left: 40%;
  margin-right: 5%;
  margin-top: 5%;
  padding-right: 100px;
}

.topComment img {
  width: 10%;
}

.topComment p {
  margin-left: 15%;
}

.bottomComment p {
  margin-left: 15%;
}

.bottomComment img {
  width: 10%;
}

.formBlogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 40px 40px;
  background-color: #FAFAFA;
  width: 60%;
  margin-left: 40%;
}

@media (max-width: 1000px) {
  h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    font-size: 5rem;
  }

  .siteNav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-shadow: 0.3px 0.3px #FAFAFA;
  }

  .socialIconsInfo {
    margin-right: 70px;
  }

  li a {
    font-size: 15px;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 3rem;
  }

  .skills, .gear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .profile, .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .smallBox {
    width: 100%;
  }

  .gallery, .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .galleryImgContainer {
    width: 100%;
  }

  h3, button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .gearText, .skillsText {
    text-align: center;
    margin-left: 0;
  }

  .linksFlex div {
    width: 100%;
  }

  .profileText {
    width: 100%;
  }

  .profile img {
    width: 100%;
  }

  .profileText, h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  h2 {
    font-size: 4rem;
  }

  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 105vh;
  }
  .contact .socialIconsInfo, .contact .formContainer {
    width: 100%;
    margin-bottom: 100px;
  }

  .mainBlogContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .rightSideContainer {
    width: 100%;
  }

  .leftSideContainer {
    width: 100%;
  }

  .commentContainer {
    width: 100%;
    margin-left: 0;
  }

  .topComment img, .bottomComment img {
    width: 25%;
  }

  .formBlogContent {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  .headerImgContainer {
    position: relative;
    width: 50%;
    margin-bottom: 50px;
  }

  li a {
    font-size: 10px;
  }

  .about {
    margin-top: 100px;
  }

  .linksFlex div {
    width: 100%;
  }

  h2 {
    font-size: 2rem;
  }
}